*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(75, 63, 63);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-1 {
    background-image: url(bkg1.jpeg);
}
.card-2 {
    background-image: url(bkg2.jpeg);
}
.card-3 {
    background-image: url(bkg3.jpg);
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card a {
    background-color: red;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.card:hover {
    background-color: rgb(44, 48, 48);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}